.toDoList {
  padding-bottom: 2rem;
}

.toDoList header {
  display: flex;
  justify-content: space-between;
}

.left, .right {
  display: flex;
}

.left strong, .right strong {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.left strong {
  color: #4EA8DE;
}

.right strong {
  color: #8284FA;
}

.badge {
  padding: 0.125rem 0.5rem;
  background: #333333;
  border-radius: 8px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.badge span {
  font-size: 0.75rem;
  color: #D9D9D9;
}

.toDoList section {
  margin-top: 1.5rem;
}

.toDoList section ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}